<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Ressource Humain
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="danger">
    <h1>Mission</h1>
  </ion-text>
  <section class="full-width">
    
    <ion-button expand="full" routerLink="/demandemission" color="danger">Demande mission</ion-button>
    <ion-button expand="full"routerLink="/mesmission" color="danger">Mes mission</ion-button>
    <ion-button expand="full"routerLink="/" color="danger">Approbation Sup.Hiérchique</ion-button>
    <ion-button expand="full"routerLink="/" color="danger">Approbation Sup.Hiérchique directe</ion-button>
  </section>

</ion-content>
