<ion-header>
  <ion-toolbar>
    <ion-title>Mes Congee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <ion-text color="danger">
    <h1>Congee</h1>
  </ion-text>
  <section class="full-width">
    <ion-button expand="full"routerLink="/soldecongee" color="warning">Solde Congee</ion-button>

    <ion-button expand="full" routerLink="/demandecongee" color="warning">Demande Congee</ion-button>
    <ion-button expand="full"routerLink="/mescongee" color="warning">Mes Congee</ion-button>

  </section></ion-content>