<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ressource humaine
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content  padding class="background"  >
  <section class="full-width">
    
    <ion-button expand="full" routerLink="/administrationrh" color="secondary">Administration Rh</ion-button>
    <ion-button expand="full"routerLink="/attestation" color="secondary">Attestation</ion-button>
    <ion-button expand="full"routerLink="/autorisation" color="secondary">Autorisation</ion-button>
    <ion-button expand="full"routerLink="/congee" color="secondary">Congée</ion-button>
    <ion-button expand="full"routerLink="/mission" color="secondary">Mission</ion-button>
  </section>

</ion-content>
